---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, authorLink, heroImage, permalink, alt, path} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} author={author} authorLink={authorLink} heroImage={heroImage} publishDate={publishDate} alt={alt} path={path}>
      <div id="slotdiv">
        <slot />
      </div>
    </BlogPost>
    { process.env.BUILD_MODE === 'backoffice' && <div class="add-strip"><button class="add-strip-button" onclick="addStrip()"><lit-icon icon="plus"></lit-icon></button></div> }
  </body>
</html>

