---
export interface Props {
  title: string;
  description: string;
  permalink: string;
}
const { title, description, permalink } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://astro.build/social.jpg?v=1" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="https://astro.build/social.jpg?v=1" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap">

<style>
  .global-button {
    position: fixed;
    width: 100px;
    height: 50px;
  }
  #new-article-button {
    top: 79%;
    left: 90%;
    display: none;
  }
  #preview-button {
    top: 85%;
    left: 90%;
    display: none;
  }
  #release-button {
    top: 91%;
    left: 90%;
    display: none;
  }
  #form-image {
    padding: 10px;
  }
</style>

<button id="new-article-button" class="global-button" onclick="showFormOverlay()">Novo artigo</button>

<button id="preview-button" class="global-button" onclick="preview()">Gravar</button>

<button id="release-button" class="global-button" onclick="release()">Lançar</button>

<script src="/js/client-backoffice-stuff.fjs"></script>

<div id="spinner-overlay" class="overlay">
  <div class="lds-ring center-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div id="form-overlay" class="overlay">
  <div id="newArticle" class="form-container">
    <h1>Criar novo artigo para o blog</h1>

    <label for="id"><b>Identificador</b></label>
    <input id="form-id" type="text" placeholder="Identificador" name="id" required>

    <label for="title"><b>Titulo</b></label>
    <input id="form-tittle" type="text" placeholder="Titulo do artigo" name="title" required>

    <label for="description"><b>Descrição</b></label>
    <input id="form-description" type="text" placeholder="Breve descrição do artigo" name="description" required>

    <label for="author"><b>Autor</b></label>
    <input id="form-author" type="text" placeholder="Autor" name="author" required>

    <label for="filename"><b>Imagem</b></label><br>
    <input id="form-image" type="file" name="filename">

    <button type="submit" class="btn" onclick="creatArticle()">Criar</button>
    <button type="button" class="btn cancel" onclick="hideFormOverlay()">Fechar</button>
  </div>
</div>
